* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1f21;
  flex-direction: column;
}

.drum-machine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  text-align: center;
}

.drum-image {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.2s;
}

.drum-image:hover {
  transform: scale(1.1);
}

.shortcut {
  margin-top: 10px;
  font-size: 34px;
  color: #aaa;
}
