#playGround{
    background-color: black;
    height: 450px;
    width: 900px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

#net{
    width: 1px;
    height: 450px;
    border-color: white;
    border-style:dotted;
    position: absolute;
    left: 450px;
}

#playerOne{
    width: 15px;
    height: 35px;
    background-color: blue;
    position: absolute;
}

#playerTwo{
    width: 15px;
    height: 35px;
    background-color: red;
    position: absolute;
    left: 885px;
}

#ball{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 100px;
}