body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .menuGrid {
    grid-template-columns: 1fr;
  }
  .categoryGrid {
    grid-template-columns: 1fr;
  }
}
